<div class="content" role="main">
  <h2>Gallery</h2>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

  <div>
    <!-- Details -->
    <h2 style="text-align: left;">Details</h2>

    <ul id="versions-list">
      <li style="text-align: left;">Title: {{imgTitle}}</li>
      <li style="text-align: left;">Id: {{id}}</li>
      <li style="text-align: left;">Cost: {{cost}}</li>
      <li style="text-align: left;">Description: {{description}}</li>
      <li style="text-align: left;">Thumbnail File Name: {{thumbnail}}</li>
      <li style="text-align: left;">Image File Name: {{image}}</li>
    </ul>

  </div>
</div>

<router-outlet></router-outlet>
