/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(../style/style.css);

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

ngx-gallery ngx-gallery-thumbnails .ngx-gallery-active {
	border: 4px solid #a41d0f !important;
}
